/* Sidebar.css */

.sidebar-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 70px;
  height: 100vh;
  background-color: #3C83F6; 
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}

.sidebar-item {
  width: 100%;
  padding: 18px 0;
  display: flex;
  justify-content: center;
  cursor: pointer;
  text-decoration: none;
  transition: 0.2s;
}

.sidebar-item:hover {
  background-color: #5d7ae6;
}

.sidebar-item.active {
  background-color: #1F2937;
}

.sidebar-icon {
  width: 50px; 
  height: auto;
}
